<div class="container">
    <div class="row">
      <div class="col-12 mt-5" style="height: 58vh;">
        <img class="mx-auto d-block" style="height: 350px;" src="https://cdn.pixabay.com/photo/2017/08/17/01/35/maple-leaf-2649712_960_720.png">
        <h4 class="text-center display-4">Siparişiniz başarıyla gerçekleşmiştir. Siparişlerim menüsünden kontrol edebilirsiniz.</h4>
        <div class="text-center">
          <button class="btn btn-success btn-lg" routerLink="/users">Siparişlerim</button>
        </div>
      </div>
    </div>
  </div>
  
  

